body {
    font-family: 'Amatic SC', cursive;
    background: silver;
    display: flex;
    flex-direction: column;
}

html, body { height: 100% }

* { margin: 0;padding: 0 }

a { color: black; text-decoration: none }

a:hover { transition: 220ms; color: lightgray }

/*HEADER STYLES*/

header {
    width: 100%;
    min-width: 300px;
    height: 80px;
    background: goldenrod;
    box-shadow: 1px 0 1px 1px grey;
    text-align: center;
    flex-shrink: 0;
    z-index: 2;
}

.title {
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
}

.logo {
    width: 12%;
    display: inline-block;
    float: left;
}

.camagru {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    width: 75px;
    height: 70px;
}

.camagru:hover {
    width: 76px;
    height: 71px;
}

.avatar {
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 8%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 0 0 20px gold;
}

.navbar {
    margin-top: 14px;
    display: inline-block;
    font-size: 40px;
}

/*WRAPPER STYLES*/

.wrapper {
    flex: 1 0 auto;
    width: 70%;
    min-width: 300px;
    margin: auto;
    background: lightgrey;
    box-shadow: 0 0 2px 1px grey;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}


/*ENTER MENU STYLES*/

.enter_menu {
    width: 280px;
    height: 200px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}

.enter_choice {
    width: 180px;
    height: 45px;
    margin: auto;
    font-size: xx-large;
    background: goldenrod;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px gold;
}

/*LOGIN STYLES*/

.login_menu {
    width: 280px;
    height: 250px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}

/*REGISTRATION STYLES*/

.registration_menu {
    width: 280px;
    height: 300px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}

/*BUTTON STYLES*/

.submit_button {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    width: 60px;
    margin: 12px auto;
    background-color: silver;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px gold;
}

.help_button {
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
    width: 90px;
    margin: 12px auto;
    background-color: silver;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px gold;
}

.cancel {
    font-size: 30px;
    color: darkred;
}

.cancel:hover { color: red}

.submit_button:hover, .help_button:hover {
    background-color: gainsboro;
}

/*SETTINGS*/

.settings_menu {
    font-weight: bold;
    font-size: 26px;
    width: 280px;
    height: 250px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}

.change_menu {
    font-weight: bold;
    font-size: 20px;
    width: 280px;
    height: 270px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}

.change_avatar {
    font-weight: bold;
    font-size: 20px;
    width: 280px;
    height: 270px;
    background: goldenrod;
    border-radius: 5px;
    margin: 10% auto;
    text-align: center;
    box-shadow: 0 0 2px 1px gray;
}


.message {
    width: 220px;
    margin: 5% auto;
    background: goldenrod;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0 0 2px 1px grey;
}

.profile {
    width: 300px;
    height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.input_zone {
    height: 22px;
    width: 220px;
    outline: none;
    font-size: 14px;
    background-color: beige;
}

.rules {
    font-size: 10px;
}

footer {
    width: 68%;
    min-width: 200px;
    height: 50px;
    margin: auto;
    background: darkgrey;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 1px 1px grey;
    text-align: center;
    flex-shrink: 0;
}

.tooltip {
    position: absolute;
    padding: 5px 10px;
    border-radius: 4px;
    font: 12px sans-serif;
    color: #333;
    background: silver;
    box-shadow: 0 0 1px 1px grey;
    z-index: 1;
}

.info {
    margin-left: 4px;
    width: 15px;
    height: 15px;
}