body {
    font-family: 'Varela Round', sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(darkgrey), to(dimgrey)) fixed;
}

header {
    width: 60%;
    min-width: 300px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(dimgrey), to(darkgrey)) fixed;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 1px 1px 2px 2px gray;
    text-align: center;
}

footer {
    width: 50%;
    min-width: 300px;
    height: 80px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(dimgrey), to(dimgrey)) fixed;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 1px 1px 2px 2px gray;
    text-align: center;
}

a {
    text-decoration: none;
}

.status_form {
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    font-size: 16px;
    text-align: center;
    margin-top: 4%;
    margin-left: 35%;
    padding: 10px 10px;
    box-shadow: 1px 1px 2px 2px gray;
    display: inline-block;
}

.login_form {
    width: 300px;
    height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.register_form {
    width: 300px;
    height: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.recover_form {
    font-size: 14px;
    width: 300px;
    height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.profile {
    width: 300px;
    height: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), to(darkgoldenrod)) fixed;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 2px 2px gray;
}

.fill_box {
    margin-top: 3%;
    margin-right: auto;
    margin-left: 13%;
    width: 90%;
    height: 60%;
    font-size: 20px;
}

.input_zone {
    height: 22px;
    width: 220px;
    outline: none;
    font-size: 14px;
    background-color: beige;
}

.submit_button {
    font-size: 16px;
    height: 30px;
    margin-top: 7px;
    margin-left: 30%;
    background-color: dimgrey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px black;
}

.help_button {
    font-size: 12px;
    height: 20px;
    width: 150px;
    margin-top: 30%;
    margin-left: 38%;
    background-color: dimgrey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px black;
}

.recover_button {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin-top: 16px;
    margin-left: 24%;
    background-color: dimgrey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px black;
}

.rules {
    font-size: 10px;
}